{{!-- 
main
features
    interior
        seats
        dashboard
            display
        audio
    exterior
        wheels
        headlights
        sunroof
    safety
        airbags
        assistance
engine
    transmission
fuel_economy
price
    options
--}}
<main>
    {{> openbox title="Car" hsize=1 color="light"}}
        {{> openbox title=make hsize=2 color="primary"}}
            {{make}} - {{model}} ({{year}})
            {{> colorsmp color=color}}
        {{> closebox}}
        {{> openbox title="Features" hsize=2 color="success"}}
            {{#with features}}
            {{> openbox title="Interior" hsize=3 color="success"}}
                {{#with interior}}
                {{> openbox title="Seats" hsize=4 color="success"}}
                    {{#with seats}}
                        Material: {{material}}<br>
                        {{> colorsmp color=color}}
                        {{#if heated}}Heated: ✔{{/if}}<br>
                        {{#if ventilated}}Ventilated: ✔{{/if}}
                    {{/with}}
                {{> closebox}}
                {{> openbox title="Dashboard" hsize=4 color="success"}}
                    {{#with dashboard}}
                        Material: {{material}}<br>
                        {{> colorsmp color=color}}<br>
                        {{#with display}}
                            {{> openbox title="Display" hsize=5 color="success"}}
                                Type: {{type}}<br>
                                Size: {{size}}<br>
                                Resolution: {{resolution}}<br>
                                {{#if touchscreen}}Touchscreen: ✔{{/if}}<br>
                            {{> closebox}}
                        {{/with}}
                    {{/with}}
                {{> closebox}}
                {{> openbox title="Audio" hsize=4 color="success"}}
                    {{#with audio}}
                        System: {{system}}<br>
                        Speakers: {{speakers}}<br>
                        {{#if subwoofer}}Subwoofer: ✔{{/if}}<br>
                        {{#if bluetooth}}Bluetooth: ✔{{/if}}<br>
                        {{#if USB}}USB: ✔{{/if}}<br>
                    {{/with}}
                {{> closebox}}
                {{/with}}
            {{> closebox}}
            {{> openbox title="Exterior" hsize=3 color="success"}}
                {{#with exterior}}
                {{> openbox title="Wheels" hsize=4 color="success"}}
                    {{#with wheels}}
                        Size: {{size}}<br>
                        Type: {{type}}<br>
                        {{> colorsmp color=color}}
                    {{/with}}
                {{> closebox}}
                {{> openbox title="Headlights" hsize=4 color="success"}}
                    {{#with headlights}}
                        Type: {{type}}<br>
                        Brightness: {{brightness}}<br>
                        {{#if automatic}}Automatic: ✔{{/if}}<br>
                    {{/with}}
                {{> closebox}}
                {{> openbox title="Sunroof" hsize=4 color="success"}}
                    {{#with sunroof}}
                        Type: {{type}}<br>
                        Size: {{size}}<br>
                        {{#if automatic}}Automatic: ✔{{/if}}<br>
                    {{/with}}
                {{> closebox}}
                {{/with}}
            {{> closebox}}
            {{> openbox title="Safety" hsize=3 color="success"}}
                {{#with safety}}
                {{> openbox title="Airbags" hsize=4 color="success"}}
                    {{#with airbags}}
                        Front: {{front}}<br>
                        Side: {{side}}<br>
                        Knee: {{knee}}<br>
                        Rear: {{rear}}<br>
                    {{/with}}
                {{> closebox}}
                {{> openbox title="Assistance" hsize=4 color="success"}}
                    {{#with assistance}}
                        {{#if blind_spot_monitoring}}Blind spot monitoring: ✔{{/if}}<br>
                        {{#if rear_cross_traffic_alert}}Rear cross traffic alert: ✔{{/if}}<br>
                        {{#if lane_departure_warning}}Lane departure warning: ✔{{/if}}<br>
                        {{#if adaptive_cruise_control}}Adaptive cruise control: ✔{{/if}}<br>
                        {{#if collision_warning}}Collision warning: ✔{{/if}}<br>
                    {{/with}}
                {{> closebox}}
                {{/with}}
            {{> closebox}}
            {{/with}}
        {{> closebox}}
        {{> openbox title="Engine" hsize=2 color="danger"}}
            {{#with engine}}
                Type: {{type}}<br>
                Displacement: {{displacement}}<br>
                Horsepower: {{horsepower}}<br>
                Torque: {{torque}}<br>
                {{> openbox title="Transmission" hsize=3 color="danger"}}
                    {{#with transmission}}
                        Type: {{type}}<br>
                        Gears: {{gears}}<br>
                    {{/with}}
                {{> closebox}}
            {{/with}}
        {{> closebox}}
        {{> openbox title="Fuel economy" hsize=2 color="warning"}}
            {{#with fuel_economy}}
                City: {{city}}<br>
                Highway: {{highway}}<br>
                Combined: {{combined}}<br>
            {{/with}}
        {{> closebox}}
        {{> openbox title="Price" hsize=2 color="secondary"}}
            {{#with price}}
                Base: {{base}}<br>
                Destination: {{destination}}<br>
                    {{> openbox title="Options" hsize=3 color="secondary"}}
                        {{#with options}}
                            Navigation: {{navigation}}<br>
                            Moonroof: {{moonroof}}<br>
                            Premium paint: {{premium_paint}}<br>
                        {{/with}}
                    {{> closebox}}
                <b>Total: {{total}}</b>
            {{/with}}
        {{> closebox}}
    {{> closebox}}
</main>


