<div class="row">
    <div class="col-6 fs-3">{{name}} {{surname}}</div>
    <div class="col-6 fs-3 text-end">{{page.title.name}}</div>
    <hr class="mb-5">
    <h2>{{title}}</h2>
    <p class="mb-5">{{description}}</p>
    {{#each buttons}}
        <div class="m-1 col-2"><a class="btn btn-primary text-capitalize" href="{{link}}" target="_blank" role="button">{{text}}</a></div>
    {{/each}}
</div>