{{#with person}}
<div class="m-2">
    <section>
        {{> title name=name big=true}}
        <div>
            {{gender}} {{age}} y.o.
        </div>
        <div>
            <address>
                {{#with address}}
                    {{street}} {{city}} {{state}} {{zip}} {{country}}
                {{/with}}
            </address>
        </div>
    </section>
</div>
<div class="m-2">
    <section>
        {{> title name="Education"}}
        <ul>
        {{#each education}}
            <li>
            <b>{{degree}}</b> {{major}}
            <br>
            <em>
                {{university}} ({{graduationYear}})
            </em>
            </li>
        {{/each}}
        </ul>
    </section>
</div>
<div class="m-2">
    <section>
        {{> title name="Work experience:"}}
        {{#each workExperience}}
        <h3>{{title}} ({{company}} <i>{{industry}} {{year_founded}}</i>)</h3>
        <dl>
            <dt><b>Responsibilities: ({{startDate}} - {{endDate}})</b></dt>
            {{#each responsibilities}}
                <dd>{{this}}</dd>
            {{/each}}
        </dl>
        <hr>
        <div class="col-6">
        {{> title name="Employees:"}}
            {{#each employees}}
                <h4 class="mt-3">{{name}} ({{position}}, {{department}})</h4>                
                <dl>
                    <dt><h5>Projects:</h5></dt>
                    {{#each projects}}
                        <dd>
                            {{> project}}
                        </dd>
                        <dl>
                            <dt><h5>Teams:</h5></dt>
                            {{#each teams}}
                                <dd>
                                    <h5>{{team_name}} ({{> member name=team_leader.name title=team_leader.title email=team_leader.email}})</h5>
                                    <ul class="list-group">
                                    {{#each team_members}}
                                        <li class="list-group-item mx-2">
                                            {{> member name=name title=title email=email skills=skills}}
                                            <dl>
                                                <dt><h5>Projects:</h5></dt>
                                                {{#each projects}}
                                                    <dd>
                                                        {{> project}}
                                                        <h5 class="my-3">Members:</h5>
                                                        <ul class="list-group">
                                                        {{#each team_members}}
                                                            <li class="list-group-item mx-2">
                                                                <h5>{{> member}}</h5>
                                                            </li>
                                                        {{/each}}
                                                        </ul>
                                                    </dd>
                                                {{/each}}
                                            </dl>
                                        </li>
                                    {{/each}}
                                    </ul>
                                </dd>
                            {{/each}}
                        </dl>
                        
                    {{/each}}
                </dl>
            {{/each}}
        </div>
        {{/each}}
    </section>
</div>
{{/with}}
