{{!-- 
title: 'Efficiency',
sub_title: 'Streamline your software development',
description: 'Streamline your software development with our innovative platform...',
button: 'Show more',
shema
position
titleclass
subtitlehs
 --}}
<div class="card">
        <div class="card-body">
            <div class="{{titleclass}} {{position}}">{{title}}</div>
            <div class="{{position}}"><h{{subtitlehs}}>{{sub_title}}</h{{6}}></div>
            <p class="{{position}}">{{description}}</p>
            {{> bootbut text=button shema=shema outline=outline}}
        </div>
</div>