<div class="card mb-2">
        <div class="card-body row p-1">
            <div class="col-2">
                <img src="{{image}}">
            </div>
            <div class="col-4 align-self-center">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text fw-light">
                    {{description}}
                </p>
            </div>
            <div class="col-2 align-self-center">
                {{#with price}}
                    {{title}}:
                    <h5>{{value}}</h5>
                {{/with}}
            </div>
            <div class="col-2 align-self-center">
                {{amount}}
            </div>
            <div class="col-2 align-self-center text-center">
                {{#each buttons}}
                    {{#if isPrimary}}
                        <a href="#" class="btn btn-primary mb-3">{{text}}</a>
                    {{/if}}
                    {{#if isDanger}}
                        <a href="#" class="btn btn-outline-danger">{{text}}</a>
                    {{/if}}
                    <br>
                {{/each}}
            </div>
        </div>
    </div>