{{!-- h1primary 
title: 'Outdated HTML tags',
        text: 'tags that have been identified as deprecated and not recommended for use in HTML version 5',
        button: {
          text: 'Орen',
        },
hsize shema
--}}
<div class="card">
    <div class="card-body">
        <h{{hsize}}>{{title}}</h{{hsize}}>
        {{#with children_display}}
            {{> hnested hsize=4 shema="warning"}}
        {{/with}}
        <p>{{text}}</p>
        {{#with button}}
            <button class="btn btn-{{../shema}}">{{text}}</button>
        {{/with}}
    </div>
</div>