{{!-- title color hsize 
color: 
    primary: blue
    secondary: gray
    success: green
    danger: red
    warning: yellow
    info: aqua
    light: light gray
    dark: black
--}}
<div class="alert alert-{{color}}" role="alert">
<h{{hsize}}><span class="badge rounded-pill text-bg-{{color}}">{{title}}</span></h{{hsize}}>
